.home {
  margin : 20px;
  display:flex;
  flex-direction: column;
  justify-content: center;

}
.home-article{
  display:flex;
  justify-content: center;
  width : 100%;
}

.home-article-right {
  width : 348.4px;
  height: 377.387px;
  border : 1px solid lightgrey;
  display : flex;
  flex-direction: column;
  align-items: center;
}

.home-input {
  display: flex;
  flex-direction: column;
  width : 80%;
}

.home-input > input { 
  background-color: #FAFAFA;
  height : 25px;
  border : 1px solid lightgrey;
  margin-bottom: 5px;
  border-radius: 5px;
}